.container{
    background-color: #EDF5E1;
    width: 1200%;
    
}
.d-flex{
    width: 100%;
    background-color: #379683 !important;
    
}

.wel{
    margin-left: 590px;
    margin-top: 12px;
    font-size: 20px;
    font-weight: 200;

}
.username{
    
    margin-top: 20px;
    margin-left: 20px;
    color: green;
    font-weight: 600;
    font-family: 'sans serif';
    
}
.username:hover{
    color: #379683;
}
.logout{
    
    margin-left: 80px;
    
}