.containerlg{
  margin: auto;
  background-color: #EDF5E1;
  margin-top: 30px;
  width: 50%;
  border: 3px solid #379683;
  padding: 10px;
}
.col-md-6{
    margin-left: 190px;
}
.display-4{
    margin-left: 75px;
    font-size: 40px;
}